body {
  height: 100hv;
}

header {
  min-height: 400px;
  background-color: #1976D2;
  line-height: 80px;
  text-align: center;
  padding: 1em;
}

.sub-header {
  height: 100px;
  background-color: #BBDEFB;
}

.profile {
  height: 240px;
  width: 250px;
  border-radius: 50%;
}

.username {
  font-size: 3em;
  font-weight: 600;
  color: white;
}

.number {
  font-size: 3em;
  font-weight: 800;
  color: white;
}
